docs/n8n_whitepaper_workflow.txt
{
  "name": "Lead Magnet Whitepaper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd92dbc6-6205-43ae-8d52-1685ffd06d19",
        "options": {
          "response": "usingRespondToWebhook"
        }
      },
      "id": "27b7f924-7389-425f-8692-a16919e8a604",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "responseCode": 302,
        "options": {
          "redirectUrl": "https://www.neuratex.de/danke.html"
        }
      },
      "id": "141477df-961f-4bb2-b601-5264b971a179",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "aiconsulting@outlook.de",
        "toEmail": "{{ $json.body.email }}",
        "subject": "Ihr Whitepaper von Neuratex AI: Die 5 teuersten Fehler bei KI-Projekten",
        "html": "<h3>Hallo,</h3>\n<p>vielen Dank für Ihr Interesse am Neuratex-Prinzip!</p>\n<p>Hier finden Sie den versprochenen Link zu Ihrem persönlichen Whitepaper:</p>\n<p><a href=\"https://www.neuratex.de/downloads/neuratex-whitepaper.pdf\">Jetzt Whitepaper herunterladen</a></p>\n<p>Wir sind überzeugt, dass die darin enthaltenen Einblicke Ihnen helfen werden, teure Experimente zu vermeiden und Ihre KI-Projekte von Anfang an auf Erfolgskurs zu bringen.</p>\n<p>Sollten Sie nach der Lektüre Fragen haben oder eine unverbindliche Potenzial-Analyse wünschen, zögern Sie nicht, uns zu kontaktieren.</p>\n<p>Mit freundlichen Grüßen,<br>Philipp Koch<br>Neuratex AI</p>"
      },
      "id": "67041e17-578d-4e94-8255-89f5bb64c515",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 3.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}